# Flutter/Dart
.dart_tool/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/build/

# iOS/macOS
ios/Pods/
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/

# Windows/Linux
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# IDEs
.idea/
.vscode/
**/*.iml

# Keystores
*.jks
*.keystore

android_bak/

android/app/google-services.json
